In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')
df.head(5)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12496\247284695.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [3]:
df.count()

VendorID                 1271413
tpep_pickup_datetime     1369765
tpep_dropoff_datetime    1369765
passenger_count          1271413
trip_distance            1369765
RatecodeID               1271413
store_and_fwd_flag       1271413
PULocationID             1369765
DOLocationID             1369765
payment_type             1271413
fare_amount              1369765
extra                    1369765
mta_tax                  1369765
tip_amount               1369765
tolls_amount             1369765
improvement_surcharge    1369765
total_amount             1369765
congestion_surcharge     1369765
dtype: int64

In [8]:
url_yellow_taxi = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
df1 = pd.read_csv(url_yellow_taxi, sep=',', compression='gzip')
df1.head(5)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12496\776953429.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(url_yellow_taxi, sep=',', compression='gzip')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [10]:
print(pd.io.sql.get_schema(df1,name = 'yellow_trip_data'))

CREATE TABLE "yellow_trip_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [13]:

df1.tpep_pickup_datetime = pd.to_datetime(df1.tpep_pickup_datetime)
df1.tpep_dropoff_datetime = pd.to_datetime(df1.tpep_dropoff_datetime)

In [14]:
print(pd.io.sql.get_schema(df1,name = 'yellow_trip_data'))

CREATE TABLE "yellow_trip_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [15]:
df1.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [ ]:
url_yellow_taxi = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
df1 = pd.read_csv(url_yellow_taxi, sep=',', compression='gzip')
df1.tpep_pickup_datetime = pd.to_datetime(df1.tpep_pickup_datetime)
df1.tpep_dropoff_datetime = pd.to_datetime(df1.tpep_dropoff_datetime)

In [ ]:
zero_passengers_df = df1[df1.passenger_count == 0]
zero_passengers_count = zero_passengers_df.shape[0]
zero_passengers_count

In [23]:
print((df1['passenger_count'] == 0).sum())

26726

In [31]:
import pandas as pd

data = {'passenger_count': [0, 1, 0, 0, 2,2,2]}
df = pd.DataFrame(data)

zero_passengers_df = df[df['passenger_count'] == 0]
zero_passengers_count = len(zero_passengers_df)

print(f'Number of records with zero passengers: {zero_passengers_count}')
print(zero_passengers_df.shape)

Number of records with zero passengers: 3
(3, 1)

In [ ]:
@data_loader
def load_data_from_api(*args, **kwargs):
    """
    Template for loading data from API
    """
    url_yellow_taxi = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

    # Load data from API
    df = pd.read_csv(url_yellow_taxi, sep=',', compression='gzip')

    # Convert datetime columns to datetime64
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    return df

## loading data script

In [ ]:
@data_loader
def load_data_from_api(*args, **kwargs):

    url_yellow_taxi = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

    # Load data from API
    df = pd.read_csv(url_yellow_taxi, sep=',', compression='gzip')

    # Convert datetime columns to datetime64
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    return df


@test
def test_load_data_from_api(output, *args, **kwargs) -> None:
    """
    Test case for the load_data_from_api function.
    """
    assert output is not None, 'The output is undefined'

    # Check if the output is a DataFrame
    assert isinstance(output, pd.DataFrame), 'Output should be a DataFrame'

    # Check if the 'tpep_pickup_datetime' and 'tpep_dropoff_datetime' columns are datetime64
    assert output['tpep_pickup_datetime'].dtype == 'datetime64[ns]', "Unexpected data type for 'tpep_pickup_datetime'"
    assert output['tpep_dropoff_datetime'].dtype == 'datetime64[ns]', "Unexpected data type for 'tpep_dropoff_datetime'"

    print("Test passed successfully!")

## transform data

In [34]:
def transform(data):
    zero_passengers_df = data[data['passenger_count'] == 0]
    #zero_passengers_count = zero_passengers_df.shape[0]
    zero_passengers_count = len(zero_passengers_df)
    
    non_zero_passengers_df = data[data['passenger_count'] > 0]
    #non_zero_passengers_count = non_zero_passengers_df.shape[0]
    non_zero_passengers_count= len(non_zero_passengers_df)
    
    print(f'Preprocessing: records with zero passengers: {zero_passengers_count}')
    print(f'Preprocessing: records with 1 passenger or more: {non_zero_passengers_count}')
    
    return non_zero_passengers_df

In [35]:
# Assuming 'input_data' is the DataFrame containing the input data
result_df = transform(df1)

Preprocessing: records with zero passengers: 26726
Preprocessing: records with 1 passenger or more: 1244687

## assignment

In [9]:
#url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/green/green_tripdata_2020-10.csv.gz"
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz"
dff = pd.read_csv(url,sep=',', compression='gzip')
dff

C:\Users\DELL\AppData\Local\Temp\ipykernel_1608\1113481579.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dff = pd.read_csv(url,sep=',', compression='gzip')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,0.0,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,0.0,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,0.0,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,0.0,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,0.0,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN

In [17]:
dff['lpep_pickup_datetime'] = pd.to_datetime(dff['lpep_pickup_datetime'])
dff['lpep_dropoff_datetime'] = pd.to_datetime(dff['lpep_dropoff_datetime'])

In [18]:
dff['lpep_pickup_date'] = dff['lpep_pickup_datetime'].dt.date

In [19]:
dff

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,...,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,...,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0,2020-10-01
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,...,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,...,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0,2020-10-01
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,...,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2020-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,...,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN,2020-10-19
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,...,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN,2020-10-19
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,...,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN,2020-10-19
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,...,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN,2020-10-19
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,...,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN,2020-10-19

In [21]:
dff['VendorID'].unique()

array([ 2.,  1., nan])

In [15]:
dff.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
lpep_pickup_date                 object
dtype: object

In [10]:
dff.count()

VendorID                 52610
lpep_pickup_datetime     95120
lpep_dropoff_datetime    95120
store_and_fwd_flag       52610
RatecodeID               52610
PULocationID             95120
DOLocationID             95120
passenger_count          52610
trip_distance            95120
fare_amount              95120
extra                    95120
mta_tax                  95120
tip_amount               95120
tolls_amount             95120
ehail_fee                    0
improvement_surcharge    95120
total_amount             95120
payment_type             52610
trip_type                52610
congestion_surcharge     52610
dtype: int64

In [9]:
dff.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [10]:
print(pd.io.sql.get_schema(dff,name = 'green_trip_data'))

CREATE TABLE "green_trip_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [28]:
import pandas as pd
data_urls = [
        'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz',
        'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz',
        'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz'
    ]


    # Load data from API
dfs = []
for url in data_urls:
    df = pd.read_csv(url, sep=",", compression='gzip')
    dfs.append(df)

data = pd.concat(dfs, ignore_index=True)

    # Convert datetime columns to datetime64
data['lpep_pickup_datetime'] = pd.to_datetime(data['lpep_pickup_datetime'])
data['lpep_dropoff_datetime'] = pd.to_datetime(data['lpep_dropoff_datetime'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_1608\3993904334.py:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, sep=",", compression='gzip')
C:\Users\DELL\AppData\Local\Temp\ipykernel_1608\3993904334.py:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, sep=",", compression='gzip')
C:\Users\DELL\AppData\Local\Temp\ipykernel_1608\3993904334.py:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, sep=",", compression='gzip')

In [35]:
data['VendorID'].unique()

array([ 2.,  1., nan])

In [37]:
print(data[(data['VendorID'] == 'nan')])

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [11]:
data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,NaN,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,NaN,NaN,NaN
266851,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,NaN,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,NaN,NaN,NaN
266852,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,NaN,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,NaN,NaN,NaN
266853,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,NaN,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,NaN,NaN,NaN
266854,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,NaN,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,NaN,NaN,NaN

In [27]:
data['vendor_id'].unique()

array([2., 1.])

In [24]:
## transformation

data = data[(data['passenger_count'] > 0) & (data['trip_distance'] > 0)]

# Create a new column lpep_pickup_date
#data['lpep_pickup_date'] = data['lpep_pickup_datetime'].dt.date
# Create a new column lpep_pickup_date
data.loc[:, 'lpep_pickup_date'] = data['lpep_pickup_datetime'].dt.date


    # Rename columns in Camel Case to Snake Case
data = data.rename(columns={
    'VendorID': 'vendor_id',
    'RatecodeID': 'ratecode_id',
    'PULocationID': 'pu_location_id',
    'DOLocationID': 'do_location_id',
    
    })

assert data['vendor_id'].isin([1, 2]).all(), "Assertion Error: vendor_id is not one of the existing values."
assert (data['passenger_count'] > 0).all(), "Assertion Error: passenger_count is not greater than 0."
assert (data['trip_distance'] > 0).all(), "Assertion Error: trip_distance is not greater than 0."

In [26]:
data['vendor_id'].unique()

array([2., 1.])

In [25]:
data

,vendor_id,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,...,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0,2020-10-01
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,...,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,...,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0,2020-10-01
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,...,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2020-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230012,2.0,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1.0,41,74,1.0,0.79,5.0,...,0.5,0.00,0.0,NaN,0.3,6.30,2.0,1.0,0.0,2020-12-31
230013,2.0,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5.0,41,116,2.0,2.31,12.0,...,0.0,0.00,0.0,NaN,0.3,12.30,2.0,2.0,0.0,2020-12-31
230014,2.0,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5.0,116,119,1.0,5.73,20.0,...,0.0,0.00,0.0,NaN,0.3,20.30,2.0,2.0,0.0,2020-12-31
230015,2.0,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1.0,42,42,1.0,0.31,3.5,...,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.0,2020-12-31
230016,2.0,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1.0,75,167,1.0,3.74,15.0,...,0.5,1.00,0.0,NaN,0.3,17.30,1.0,1.0,0.0,2020-12-31